{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
    <script src='{% static "js/jquery.inputmask.js" %}'></script>
{% endblock %}
{% block html_body %}
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h4 class="border-bottom border-gray pb-2 mb-0">Поиск в реестре справок о постановке на учет по беременности и родам:</h4>
            <form method='post' class="mt-3" action='{% url 'index' %}'>
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Введите СНИЛС:</span>
                    </div>
                    {{ form_search.find }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-search"><i class="fas fa-search"></i> Поиск</button>
                    </div>
                </div>
            </form>
            {% if reference_list %}
                <h4 class="pb-2 sm-0">Результаты поиска:</h4>
                <div class="list-group">
                    {% for reference in reference_list %}
                        <button type="button" class="list-group-item list-group-item-action" onclick="ShowCard('{% url 'card' reference.id %}')">
                            Справка №{{ reference.number }} от {{ reference.issue_date }} выдана {{ reference.resident }}
                        </button>
                    {% endfor %}
                </div>
            {% endif %}
            {% if noresult %}
                <h4 class="pb-2 sm-0">Не найдено ни одного совпадаения.</h4>
            {% endif %}
        </div>
    </main>
    <!-- Окно отображения карточки -->
    <div class="modal fade" id="ModalCard" tabindex="-1" role="dialog" aria-labelledby="ModalCardTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content text-left">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalCardTitle">Справка о постановке на учет по беременности и родам:</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="Card"></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /Окно создания нового пользователя -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_find').inputmask({mask: '999-999-999 99'});
        });
        function ShowCard(link) {

            $.get(link, function (data) {
                $('#Card').html(data);
            });
            $('#ModalCard').modal('show');
        }

    </script>
{% endblock %}
